.wraṕper {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 10px;
}

header {
  background-color: yellow;
  grid-row: 1;
  grid-column: 1 / span 3;
}

main {
  background-color: green;
  grid-row: 2;
  grid-column: 1 / span 2;
}

aside {
  background-color: plum;;
}

footer {
  display: flex;
  justify-content: space-around;
}

div:nth-child(1) {
  background-color: blue;
}

div:nth-child(2) {
  background-color: palevioletred;
}

div:nth-child(3) {
  background-color: orangered;
} 